.dataTable {
    border: 1px black solid;
    border-collapse: collapse;
}

.dataTable > tbody > tr > td {
    border: 1px black solid;
    vertical-align: top;
    min-width: 160px;
    height: 170px;
}

.dataTable > thead > tr > th {
    border: 1px black solid;
}

.contentLine {
    padding: 10px 20px 20px 20px
}

.navBar {
    background-color: black;
    height: 60px;
}

.dataSection {
    padding: 40px;
}

.dataTableContainer {
    display: flex;
    justify-content: center;
}

.navBar > button {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 24px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    cursor: pointer;
}

.navBar > button:hover {
    color: #aaa;
}

body {
    margin: 0;
}